:root {
    --back-color: #E5E5E5;
    --head-text: #000000;
    --fstimg-clr: #343434;
    --fst-icon: #292929;
    --fst-icon-ttl: #5D5D5D;

    --snd-text-clr: #131313;

    --thrd-text-hd-clr: #000000;
    --thrd-clr-btn: #ffffff;
    --thrd-text-subhd-clr: #292929;
    --thrd-text-clr: #515151;

    --btn-clr: #F26621;

    --fnt-fml-head: 'M PLUS Rounded 1c', sans-serif;
    --fnt-fml-sub: 'Montserrat', sans-serif;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
    color: var(--head-text);
    transition: .4s;
}


.section img {
    display: block;
}

.home1st img {
    top: 0;
    left: 0;

}

body .main .first {
    width: 430px;
    height: 698px;
    background: transparent url('../avery-dennison/public/images/m2.png') 0% 0% no-repeat padding-box;

}

.home1st {
    display: flex;
    flex-direction: column;
}

.home1st .sec_cnt {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    position: absolute;
    top: 2rem;
    left: 2rem;
}


/* ------- Contact Page ----------- */


.thd_cnt {
    position: relative;
    top: 447px;
    width: 90%;
    margin: auto;
}


form {
    background-color: rgb(255, 255, 255);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: none;
    border-radius: 6px;
    outline: none;
    font-family: var(--fnt-fml-sub);
    border-radius: 10px 5px black;
    box-shadow: 0px 14px 27px #d4d4d4;
}

.fm_header h3 {
    font-family: var(--fnt-fml-head);
    font-size: 16px;
    line-height: 19px;

}

.fm_header p {
    font-size: 14px;
    line-height: 17px;
}


.fm-main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    line-height: 12px;
    font-size: 10px;
}

.input-box p {
    padding-bottom: 6px;
}

.input-row1,
.input-row2,
.input-row3 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-wrap: wrap;
}

input[type='text'],
input[type='email'],
input[type='number'],
textarea {
    width: 100%;
    outline: none;
    border: 1px solid black;
    padding: 10px 7px;
    border-radius: 8px;
}

select {
    width: 100%;
    outline: none;
    border: 1px solid black;
    padding: 10px 7px;
    border-radius: 8px;
}



.check-area {
    display: flex;
    gap: .4rem;
    align-items: center;
}


.button_section {
    margin: auto;
}

.btn_cnt {
    padding: 5px 20px;
    background-color: var(--btn-clr);
    outline: none;
    border: none;
    color: white;
    font-size: var(--fnt-fml-head);
    font-size: 15px;
    border-radius: 2px;
}

.container {
    width: 317px;
    /* height: 83px; */
    text-align: left;
    font: normal normal 600 22px/28px Aktifo A;
    font-family: var(--fnt-fml-head);
    letter-spacing: 0px;
    color: #000000;
    display: flex;
    opacity: 1;
    flex-direction: column;
    gap: 1.5rem;
}


.sec_cnt img {
    top: 22px;
    left: 25px;
    width: 107px;
    opacity: 1;
}

.content_two {
    width: 248px;
    height: 39px;
    text-align: left;
    font: normal normal 300 16px/20px Aktifo A;
    font-family: var(--fnt-fml-sub);
    letter-spacing: 0px;
    color: #292929;
    opacity: 1;
}

.content_three .three_circule {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    width: 65%;
}

.content_three .three_circule .box {
    display: flex;
    flex-direction: column;
    gap: .4rem;
    justify-content: center;
    align-items: center;
}

.content_three .three_circule .cont1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background: var(--fst-icon);
    border-radius: 50%;
    overflow: hidden;
}

.content_three .three_circule .cont1 img {
    width: auto;
    height: 51px;
    object-fit: cover;
}

.content_three .three_circule p {
    font: normal normal normal 20px/24px Aktifo A;
    font-family: var(--fnt-fml-head);
    letter-spacing: 0px;
    color: #5D5D5D;
    text-align: center;
}


.content_three .three_circule .cont1 {
    width: 38px;
    height: 38px;
}

.content_three .three_circule .cont1 img {
    height: 25px;
}

.content_three .three_circule p {
    font-size: 9px;
    line-height: 11px;
}